$cardWidth: 340px;
$cardHeight: 400px;
$infoHeight: 70px;

.characterCard {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  width: $cardWidth;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s;
  transform-style: preserve-3d;

  &-container {
    width: $cardWidth;
    height: $cardHeight;
    perspective: 600px;
    cursor: pointer;
    transition: transform 0.2s;
    @media (min-width: 768px){
        &:hover {
            transform: scale(1.05);
        }
    }
  }

  &-img {
    width: $cardWidth;
    height: $cardHeight;
    object-fit: cover;
    object-position: top;
  }
  &-info {
    width: $cardWidth;
    height: $infoHeight;
    position: absolute;
    top: $cardHeight - $infoHeight;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
        rgba(0,0,0,1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-icon {
    margin: 0px 10px;
  }

  &__face {
    position: absolute;
    backface-visibility: hidden;
    height: $cardHeight;
    width: $cardWidth;
    &--front {
      backface-visibility: visible;
    }
    &--back {
      transform: rotateY(180deg);
      background-color: rgba(0,0,0,0.8);
      color: white;
      :first-child {
          text-align: center;
          font-weight: 700;
      }
       div{
           display: flex;
           justify-content: space-between;
           border-bottom: 1px solid white;
           padding: 0 15px;

           :first-child {
            font-weight: 700;
           }
           :last-child {
               text-align: right;
           }
       }
    }
  }
}

.is-flipped {
  transform: rotateY(180deg);
}
